section.posts-list
    .container
        .posts 
            .post 
                .post__photo 
                .post__data
                    .post__header 
                        .post__title Брекеты СПб
                        .post__date 10/01/22
                    .post__content  Брекеты являются самой известной и эффективной ортодонтической системой для коррекции соотношения челюстей и зубов любой сложности. Благодаря форме пластин и воздействию дуги, аппаратура позволяет достичь гарантированного результата. А специалисты West Dental грамотно выполнят подбор системы, составят подходящий план лечения и помогут качественно восстановить здоровье полости рта. Фиксируются брекеты как на внешнюю, так и на внутреннюю…
                    a.btn.btn--transparent(href="#") Читать далее

            .post 
                .post__photo 
                .post__data
                    .post__header 
                        .post__title Брекеты СПб
                        .post__date 10/01/22
                    .post__content  Брекеты являются самой известной и эффективной ортодонтической системой для коррекции соотношения челюстей и зубов любой сложности. Благодаря форме пластин и воздействию дуги, аппаратура позволяет достичь гарантированного результата. А специалисты West Dental грамотно выполнят подбор системы, составят подходящий план лечения и помогут качественно восстановить здоровье полости рта. Фиксируются брекеты как на внешнюю, так и на внутреннюю…
                    a.btn.btn--transparent(href="#") Читать далее

            .post 
                .post__photo 
                .post__data
                    .post__header 
                        .post__title Брекеты СПб
                        .post__date 10/01/22
                    .post__content  Брекеты являются самой известной и эффективной ортодонтической системой для коррекции соотношения челюстей и зубов любой сложности. Благодаря форме пластин и воздействию дуги, аппаратура позволяет достичь гарантированного результата. А специалисты West Dental грамотно выполнят подбор системы, составят подходящий план лечения и помогут качественно восстановить здоровье полости рта. Фиксируются брекеты как на внешнюю, так и на внутреннюю…
                    a.btn.btn--transparent(href="#") Читать далее

            .post 
                .post__photo 
                .post__data
                    .post__header 
                        .post__title Брекеты СПб
                        .post__date 10/01/22
                    .post__content  Брекеты являются самой известной и эффективной ортодонтической системой для коррекции соотношения челюстей и зубов любой сложности. Благодаря форме пластин и воздействию дуги, аппаратура позволяет достичь гарантированного результата. А специалисты West Dental грамотно выполнят подбор системы, составят подходящий план лечения и помогут качественно восстановить здоровье полости рта. Фиксируются брекеты как на внешнюю, так и на внутреннюю…
                    a.btn.btn--transparent(href="#") Читать далее

            .post 
                .post__photo 
                .post__data
                    .post__header 
                        .post__title Брекеты СПб
                        .post__date 10/01/22
                    .post__content  Брекеты являются самой известной и эффективной ортодонтической системой для коррекции соотношения челюстей и зубов любой сложности. Благодаря форме пластин и воздействию дуги, аппаратура позволяет достичь гарантированного результата. А специалисты West Dental грамотно выполнят подбор системы, составят подходящий план лечения и помогут качественно восстановить здоровье полости рта. Фиксируются брекеты как на внешнюю, так и на внутреннюю…
                    a.btn.btn--transparent(href="#") Читать далее

        .pagination 
            a.pagination-link(href="#") 1
            a.pagination-link(href="#") 2
            span.pagination-link ...
            a.pagination-link(href="#") 10

        .tags 
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти
            ul.tags__list 
                li.tags__elem 
                    a.tags__link(href="#") Челюсти