footer 
    .container 
        .column
            .logo 
                a.logo__link(href='/')
                    img.logo__img(src='#') 
                .company-name Стоматологическая клиника West Dental

        .column 
            .contacts 
                .row.row--phone 
                    .row__header Телефон для записи
                    a.row__value(href="tel:+78124500007") +7 (812) 450-00-07

                .row.row--worktime 
                    .row__header Ежедневно
                    .row__value 9:00 - 21:00

                .row.row--address 
                    .row__header г.Всеволожск, ТСН "Южная долина", ул. Доктора Сотникова, 5
                    a.row__value(href="tel:+79119231453") +7 (911) 923-14-53 

                .row.row--address 
                    .row__header Янино-1, ул. Голландская, 5
                    a.row__value(href="tel:+79817534426") +7 (981) 753-44-26
                .socials 
                    a.social__link(href="#")
                        img.social__icon(src="#")
                    a.social__link(href="#")
                        img.social__icon(src="#")