header
    .container
        .logo
            a.logo__link(href='/')
                img.logo__img(src='/img/logo.swg')

        nav.navigation
            ul.nav__menu
                li.nav__elem
                    a.nav__link(href="#") О клинике
                li.nav__elem
                    a.nav__link(href="#") Услуги 
                li.nav__elem
                    a.nav__link(href="#") Акции 
                li.nav__elem
                    a.nav__link(href="#") Врачи 
                li.nav__elem
                    a.nav__link(href="#") Блог 
                li.nav__elem
                    a.nav__link(href="#") Контакты 

        a.phone(href='tel:+78124500007') +7 (812) 450-00-07