header {
    width: 100%;
    position: fixed;
    height: 8em;
    background-color: $bgBlue;
    z-index: 100;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            .logo__link {
                display: inline-block;

                .logo__img {
                    width: 15em;
                    height: auto;
                }
            }
        }

        .navigation {
            max-width: 55em;
            flex: 1;
            // padding: 1em 0 0 0;

            .nav__menu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;

                .nav__elem {
                    .nav__link {
                        font-size: 2em;
                        font-weight: 300;
                        text-decoration: none;
                        color: $white;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
        }

        .phone {
            // padding-top: 1em;
            .btn {
                font-size: 1.9em;
                font-weight: 300;
                padding: 0.5em 1.4em;

                &:hover {
                    color: $yellow;
                    border-color: $yellow;
                }
            }
        }
    }
}
