include section_home_slider.pug
include section_our_services.pug
include section_promo.pug
include section_specialists.pug
include section_blog.pug
include section_about_clinic.pug
include section_home_contacts.pug
include section_technics.pug
include section_home_reviews.pug
include section_month_doctor.pug