section.technics
    .container 
        img.technics__photo(src='#')
        .technics__info 
            .text-microscope Мы используем 
                span.text-dark-blue операционный микроскоп Leica M320 
                | в лечении зубов, протезировании и при сложных хирургических операциях;
            .text-scaner Ручной 3D-сканер 
                span.text-dark-blue TRIOS® 3
            a.btn.btn--text-dark-blue.btn--transparent Подробнее