section.home-reviews
    .container  
        .section-title Отзывы

        .rating 
            .rating__rate 4.9
            .rating__details 
                .stars
                    img.rating-star-full(src='#')
                    img.rating-star-full(src='#')
                    img.rating-star-half(src='#')
                    img.rating-star-empty(src='#')
                    img.rating-star-empty(src='#')
                .reviews-count 132 оценки
            .btn.btn--transparent.btn--text-yellow Оставить отзыв

        .reviews-list 
            .review 
                .review__header
                    img.review__avatar(src='#')
                    .review__info
                        .review__author kvn0312@mail.ru
                        .review__rate
                            .stars
                                img.rating-star-full(src='#')
                                img.rating-star-full(src='#')
                                img.rating-star-half(src='#')
                                img.rating-star-empty(src='#')
                                img.rating-star-empty(src='#')
                            .review__date 30 марта 2022
                .review__text Была вчера на приёме у Константина Васильевича. Молодой, но такой крутой профессионал. Прямо гордость за него появилась. Умница. Нежно, аккуратно удалил 2 зуба, поставил 2 импланта. С медсестрой тихо и корректно, взаимопонимание на высшем уровне. Объяснил как...
            .review 
                .review__header
                    img.review__avatar(src='#')
                    .review__info
                        .review__author kvn0312@mail.ru
                        .review__rate
                            .stars
                                img.rating-star-full(src='#')
                                img.rating-star-full(src='#')
                                img.rating-star-half(src='#')
                                img.rating-star-empty(src='#')
                                img.rating-star-empty(src='#')
                            .review__date 30 марта 2022
                .review__text Была вчера на приёме у Константина Васильевича. Молодой, но такой крутой профессионал. Прямо гордость за него появилась. Умница. Нежно, аккуратно удалил 2 зуба, поставил 2 импланта. С медсестрой тихо и корректно, взаимопонимание на высшем уровне. Объяснил как...
            .review 
                .review__header
                    img.review__avatar(src='#')
                    .review__info
                        .review__author kvn0312@mail.ru
                        .review__rate
                            .stars
                                img.rating-star-full(src='#')
                                img.rating-star-full(src='#')
                                img.rating-star-half(src='#')
                                img.rating-star-empty(src='#')
                                img.rating-star-empty(src='#')
                            .review__date 30 марта 2022
                .review__text Была вчера на приёме у Константина Васильевича. Молодой, но такой крутой профессионал. Прямо гордость за него появилась. Умница. Нежно, аккуратно удалил 2 зуба, поставил 2 импланта. С медсестрой тихо и корректно, взаимопонимание на высшем уровне. Объяснил как...
            .review 
                .review__header
                    img.review__avatar(src='#')
                    .review__info
                        .review__author kvn0312@mail.ru
                        .review__rate
                            .stars
                                img.rating-star-full(src='#')
                                img.rating-star-full(src='#')
                                img.rating-star-half(src='#')
                                img.rating-star-empty(src='#')
                                img.rating-star-empty(src='#')
                            .review__date 30 марта 2022
                .review__text Была вчера на приёме у Константина Васильевича. Молодой, но такой крутой профессионал. Прямо гордость за него появилась. Умница. Нежно, аккуратно удалил 2 зуба, поставил 2 импланта. С медсестрой тихо и корректно, взаимопонимание на высшем уровне. Объяснил как...
        a.btn.btn--transparent(href='#') Читать все отзывы