section.our-services 
    .container 
        .section-title Наши Услуги
        .section-subtitle Мы оказываем полный комплекс услуг по терапии, профилактике, лечению зубов, а так же ортодонтии, ортопедии и хирургии.

        .services-list 
            .service 
                .service__photo
                .service__info 
                    .service__title Гигиена полости рта и отбеливание зубов
                    .service__description Чистка зубов -- процедура личной гигиены для очистки поверхности зубов от остатоков пищи и мягкого зубного налета. Отбеливание зубов -- стоматологическая процедура изменения оттенка зубной эмали
                    .btn.btn--text-yellow.btn--transparent Подробнее
            .service 
                .service__photo
                .service__info 
                    .service__title Гигиена полости рта и отбеливание зубов
                    .service__description Чистка зубов -- процедура личной гигиены для очистки поверхности зубов от остатоков пищи и мягкого зубного налета. Отбеливание зубов -- стоматологическая процедура изменения оттенка зубной эмали
                    .btn.btn--text-yellow.btn--transparent Подробнее
            .service 
                .service__photo
                .service__info 
                    .service__title Гигиена полости рта и отбеливание зубов
                    .service__description Чистка зубов -- процедура личной гигиены для очистки поверхности зубов от остатоков пищи и мягкого зубного налета. Отбеливание зубов -- стоматологическая процедура изменения оттенка зубной эмали
                    .btn.btn--text-yellow.btn--transparent Подробнее
            .service 
                .service__photo
                .service__info 
                    .service__title Гигиена полости рта и отбеливание зубов
                    .service__description Чистка зубов -- процедура личной гигиены для очистки поверхности зубов от остатоков пищи и мягкого зубного налета. Отбеливание зубов -- стоматологическая процедура изменения оттенка зубной эмали
                    .btn.btn--text-yellow.btn--transparent Подробнее
            .service 
                .service__photo
                .service__info 
                    .service__title Гигиена полости рта и отбеливание зубов
                    .service__description Чистка зубов -- процедура личной гигиены для очистки поверхности зубов от остатоков пищи и мягкого зубного налета. Отбеливание зубов -- стоматологическая процедура изменения оттенка зубной эмали
                    .btn.btn--text-yellow.btn--transparent Подробнее
            .service 
                .service__photo
                .service__info 
                    .service__title Гигиена полости рта и отбеливание зубов
                    .service__description Чистка зубов -- процедура личной гигиены для очистки поверхности зубов от остатоков пищи и мягкого зубного налета. Отбеливание зубов -- стоматологическая процедура изменения оттенка зубной эмали
                    .btn.btn--text-yellow.btn--transparent Подробнее
            .service 
                .service__photo
                .service__info 
                    .service__title Гигиена полости рта и отбеливание зубов
                    .service__description Чистка зубов -- процедура личной гигиены для очистки поверхности зубов от остатоков пищи и мягкого зубного налета. Отбеливание зубов -- стоматологическая процедура изменения оттенка зубной эмали
                    .btn.btn--text-yellow.btn--transparent Подробнее
            .service 
                .service__photo
                .service__info 
                    .service__title Гигиена полости рта и отбеливание зубов
                    .service__description Чистка зубов -- процедура личной гигиены для очистки поверхности зубов от остатоков пищи и мягкого зубного налета. Отбеливание зубов -- стоматологическая процедура изменения оттенка зубной эмали
                    .btn.btn--text-yellow.btn--transparent Подробнее