section.specialists 
    .container 
        .section-title Специалисты 
            span.text--dark-blue West-Dental

            .specialists-slider
                .swiper
                    .swiper-wrapper
                        .swiper-slide
                            .specialist
                            .specialist__photo  
                                img.photo__img(src='#')
                            .specialist__name Епимахов Константин Васильевич
                            .specialist__geo Вссеволожск и Янино
                            .specialist__position Врач-стоматолог, хирург-имплантолог, ортопед
                            .specialist__link 
                                a.btn.btn--transtparent.btn--text-black(href='#') Страница врача

                        .swiper-slide
                            .specialist
                            .specialist__photo  
                                img.photo__img(src='#')
                            .specialist__name 2Епимахов Константин Васильевич
                            .specialist__geo Вссеволожск и Янино
                            .specialist__position Врач-стоматолог, хирург-имплантолог, ортопед
                            .specialist__link 
                                a.btn.btn--transtparent.btn--text-black(href='#') Страница врача

                        .swiper-slide
                            .specialist
                            .specialist__photo  
                                img.photo__img(src='#')
                            .specialist__name 3Епимахов Константин Васильевич
                            .specialist__geo Вссеволожск и Янино
                            .specialist__position Врач-стоматолог, хирург-имплантолог, ортопед
                            .specialist__link 
                                a.btn.btn--transtparent.btn--text-black(href='#') Страница врача

                        .swiper-slide
                            .specialist
                            .specialist__photo  
                                img.photo__img(src='#')
                            .specialist__name 4Епимахов Константин Васильевич
                            .specialist__geo Вссеволожск и Янино
                            .specialist__position Врач-стоматолог, хирург-имплантолог, ортопед
                            .specialist__link 
                                a.btn.btn--transtparent.btn--text-black(href='#') Страница врача

                        .swiper-slide
                            .specialist
                            .specialist__photo  
                                img.photo__img(src='#')
                            .specialist__name 5Епимахов Константин Васильевич
                            .specialist__geo Вссеволожск и Янино
                            .specialist__position Врач-стоматолог, хирург-имплантолог, ортопед
                            .specialist__link 
                                a.btn.btn--transtparent.btn--text-black(href='#') Страница врача

                        .swiper-slide
                            .specialist
                            .specialist__photo  
                                img.photo__img(src='#')
                            .specialist__name 6Епимахов Константин Васильевич
                            .specialist__geo Вссеволожск и Янино
                            .specialist__position Врач-стоматолог, хирург-имплантолог, ортопед
                            .specialist__link 
                                a.btn.btn--transtparent.btn--text-black(href='#') Страница врача