section.promo-section 
    .promo-slider
        .swiper
            .swiper-wrapper
                .swiper-slide(style="background-image:url(/img/home-promo-banner.jpg);")
                    .slide__inner
                        .container
                            .slide__button 
                                a.btn.btn--white.btn--text-white(href='#') Подробности акции

                .swiper-slide(style="background-image:url(/img/home-promo-banner.jpg);")
                    .slide__inner
                        .container
                            .slide__button 
                                a.btn.btn--white.btn--text-white(href='#') Подробности акции

                .swiper-slide(style="background-image:url(/img/home-promo-banner.jpg);")
                    .slide__inner
                        .container
                            .slide__button 
                                a.btn.btn--white.btn--text-white(href='#') Подробности акции
