section.promo
    .home-slider
        .swiper
            .swiper-wrapper
                .swiper-slide
                    .slide__inner
                        .slide__title 
                            .top Стоматология
                            .bottom Вест Дентал
                            .slogan 
                                span Семейная стоматология 
                                span во 
                                    span.text-yellow Вссеволожске 
                                    | и в 
                                    span.text-yellow Янино-1
                        .slide__button 
                            a.btn.btn--transparent.btn--text-yellow(href='#') Записаться на прием

                .swiper-slide
                    .slide__inner
                .swiper-slide
                    .slide__inner
                .swiper-slide
                    .slide__inner
                .swiper-slide
                    .slide__inner
                .swiper-slide
                    .slide__inner
