section.promo
    .home-slider
        .swiper
            .swiper-wrapper
                .swiper-slide(style="background-image: url(/img/slide-01-bg.png);")
                    .slide__inner
                        .slide__title 
                            .top Стоматология
                            .bottom Вест Дентал
                            .slogan 
                                span Семейная стоматология
                                br 
                                span во 
                                    span.text-yellow Вссеволожске 
                                    | и в 
                                    span.text-yellow Янино-1
                        a.slide__link.btn.btn--yellow.btn--text-yellow(href='#') Записаться на прием

                .swiper-slide(style="background-image: url(/img/slide-01-bg.png);")
                    .slide__inner
                        .slide__title 
                            .top Стоматология
                            .bottom Вест Дентал
                            .slogan 
                                span Семейная стоматология 
                                br
                                span во 
                                    span.text-yellow Вссеволожске 
                                    | и в 
                                    span.text-yellow Янино-1
                        a.slide__link.btn.btn--yellow.btn--text-yellow(href='#') Записаться на прием

                .swiper-slide(style="background-image: url(/img/slide-01-bg.png);")
                    .slide__inner
                        .slide__title 
                            .top Стоматология
                            .bottom Вест Дентал
                            .slogan 
                                span Семейная стоматология 
                                br
                                span во 
                                    span.text-yellow Вссеволожске 
                                    | и в 
                                    span.text-yellow Янино-1
                        a.slide__link.btn.btn--yellow.btn--text-yellow(href='#') Записаться на прием