section.home-about
    .about-promo
        .about__info 
            .about__title Клиника 
                span.clinic-name West-Dental
            
            .about__advantages 
                .advantage Высокоэстетичная стоматология
                .advantage Лечение под микроскопом
                .advantage Самые современные технологии All on 4
            
            .btn.btn--transparent.btn--text-yellow Записаться

        .container 
            .counters 
                .counter 
                    .counter__value 6590
                    .counter__descriptioin Счастливых пациентов
                .counter 
                    .counter__value 12000+
                    .counter__descriptioin Вылеченных зубов
                .counter 
                    .counter__value 2500
                    .counter__descriptioin Установленных имплантатов

            .about-clinic
                .column
                    h3.content-title Стоматология во Вссеволожске мкр. Южный и Янино-1
                    p.content-text Клиника «West Dental» была открыта в 2014 году. В филиалах стоматологии в Янино и во Всеволожске собран профессиональный коллектив врачей с большим стажем работы. Квалифицированные специалисты активно применяют международные стандарты лечения, посещают семинары и офис курсы, совершенствуя свои навыки.
                    p.content-text В нашем новом отделении стоматологии в Янино представлено инновационное оборудование — операционный микроскоп Leica M320 и панорамный аппарат с конусно-лучевым томографом Pax-i3D, а также современные материалы.
                    a.btn.btn--text-black.btn--transparent(href='#') Читать далее
                .column 
                    .about-clinic__photo
