section.promo-section 
    .promo-slider
        .swiper
            .swiper-wrapper
                .swiper-slide
                    .slide__inner
                        .slide__button 
                            a.btn.btn--transparent.btn--text-yellow(href='#') Подробности акции

                .swiper-slide
                    .slide__inner
                        .slide__button 
                            a.btn.btn--transparent.btn--text-yellow(href='#') Подробности акции

                .swiper-slide
                    .slide__inner
                        .slide__button 
                            a.btn.btn--transparent.btn--text-yellow(href='#') Подробности акции
