section.home-contacts
    .container 
        .column.column-60 
            .map 
        .column.column-40 
            .contacts 
                .contacts__row.contacts__row-worktime 
                    .header Ежедневно
                    .value 9:00 - 21:00

                .contacts__row
                    .header Записаться по телефону
                    .value +7 (812) 450 00 07

                .contacts__row
                    .header г.Всеволожск, ТСН "Южная долина", ул. Доктора Сотникова, д.5
                    .value +7 (911) 923 14 53

                .contacts__row
                    .header Янино-1, ул. Голландская д.5
                    .value +7 (981) 753 44 26
                
                .contacts__row.contacts__row-email westdentals@yandex.ru