section.month-doctor 
    .container
        .doctor  
            .column
                .doctor__photo 
            .column 
                .doctor__review «Больше всего в работе мне нравится видеть положительный результат и счастливых пациентов. Каждый человек индивидуален, его нужно понять и учесть требования и пожелания. Нельзя сказать, какая часть работы самая сложная или лёгкая. Любая манипуляция требует усидчивости, внимания и деликатности, за каждой работой стоит невероятный труд, опыт и знания. В целом все предсказуемо, но бывают форс-мажоры. Каждый организм — особенный, у разных людей на одну и ту же манипуляцию требуется разное количество времени».
                .doctor__name Епимахов К.В 
                .doctor__position директор сети клиник West Dental