section.blog 
    .container 
        .section-title Блог клиники 
            span.text--dark-blue Вест-Дентал

            .posts-list 
                .post 
                    .post__title Десневая улыбка
                    .post__description Частая проблема для 20% от всего населения планеты
                    .post__view-count 1234
                    .post__date 12/03/22
                .post 
                    .post__title Элайнеры
                    .post__description Инновационная ортодонтия, спектр методик исправления прикуса
                    .post__view-count 1764
                    .post__date 30/01/22
                .post 
                    .post__title Брекеты
                    .post__description Самая известная и эффективная система для коррекции прикуса
                    .post__view-count 2746
                    .post__date 23/01/22
                .post 
                    .post__title Десневая улыбка
                    .post__description Частая проблема для 20% от всего населения планеты
                    .post__view-count 1234
                    .post__date 12/03/22
                .post 
                    .post__title Элайнеры
                    .post__description Инновационная ортодонтия, спектр методик исправления прикуса
                    .post__view-count 1764
                    .post__date 30/01/22
                .post 
                    .post__title Брекеты
                    .post__description Самая известная и эффективная система для коррекции прикуса
                    .post__view-count 2746
                    .post__date 23/01/22

            a.btn.btn--transparent.btn--text-blue(href='#') Перейти в блог

