section.write-head-doctor 
    .container 
        .description 
            .description__title Напишите главному врачу
            .description__text Вы можете оставить пожелание, рекомендацию, отзыв, а так же задать вопрос лично главному врачу клиники West Dental

        .btn.btn--dark-blue.btn--text-white Написать главврачу

        .btn.btn--transparent.btn--text-dark-blue Написать главврачу
