section.specialists 
	.container 
		.section-title Специалисты 
			span.text--dark-blue Вест Дентал

		.specialists-slider
			.swiper
				.swiper-wrapper
					.swiper-slide
						.specialist
							.specialist__photo  
								img.photo__img(src='/img/home-doctors-slider.jpg')
							.specialist__name Епимахов Константин Васильевич
							.specialist__geo Вссеволожск и Янино
							.specialist__position Врач-стоматолог, хирург-имплантолог, ортопед
							.specialist__link 
								a.btn.btn--black.btn--text-black(href='#') Страница врача

					.swiper-slide
						.specialist
							.specialist__photo  
								img.photo__img(src='/img/home-doctors-slider.jpg')
							.specialist__name Епимахов Константин Васильевич
							.specialist__geo Вссеволожск и Янино
							.specialist__position Врач-стоматолог, хирург-имплантолог, ортопед
							.specialist__link 
								a.btn.btn--black.btn--text-black(href='#') Страница врача

					.swiper-slide
						.specialist
							.specialist__photo  
								img.photo__img(src='/img/home-doctors-slider.jpg')
							.specialist__name Епимахов Константин Васильевич
							.specialist__geo Вссеволожск и Янино
							.specialist__position Врач-стоматолог, хирург-имплантолог, ортопед
							.specialist__link 
								a.btn.btn--black.btn--text-black(href='#') Страница врача

					.swiper-slide
						.specialist
							.specialist__photo  
								img.photo__img(src='/img/home-doctors-slider.jpg')
							.specialist__name Епимахов Константин Васильевич
							.specialist__geo Вссеволожск и Янино
							.specialist__position Врач-стоматолог, хирург-имплантолог, ортопед
							.specialist__link 
								a.btn.btn--black.btn--text-black(href='#') Страница врача

					.swiper-slide
						.specialist
							.specialist__photo  
								img.photo__img(src='/img/home-doctors-slider.jpg')
							.specialist__name Епимахов Константин Васильевич
							.specialist__geo Вссеволожск и Янино
							.specialist__position Врач-стоматолог, хирург-имплантолог, ортопед
							.specialist__link 
								a.btn.btn--black.btn--text-black(href='#') Страница врача

					.swiper-slide
						.specialist
							.specialist__photo  
								img.photo__img(src='/img/home-doctors-slider.jpg')
							.specialist__name Епимахов Константин Васильевич
							.specialist__geo Вссеволожск и Янино
							.specialist__position Врач-стоматолог, хирург-имплантолог, ортопед
							.specialist__link 
								a.btn.btn--black.btn--text-black(href='#') Страница врача